.bg-body {
  background: #E4E5E9;
}

.isolate {
  background: #F6F8FA;
}

.page-wrapper {
  max-width: 1200px;
  margin: 24px auto;
}

.header-wrapper {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 1rem;
  align-items: center;
}

.max-w-fit {
  max-width: fit-content;
}

.pt-3 {
  padding-top: 12px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.aspect-square {
  width: 2px;
  overflow: hidden;
}

.border-b-3 {
  border-bottom: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.Toastify__toast {
  padding: 0 !important;
  border-radius: 1rem !important;

  

  & .Toastify__close-button {
    display: none;
  }

  & .Toastify__toast-body {
    padding: 0;
  }
}

.AuthButton button{
  width: 100%;
  font-size: 16px;
}
